spacy
bs4
evaluate
openai
pandas
numpy
torch
tqdm
filelock
llmlingua
transformers
datasets
sentence-transformers
rouge-score
nltk
wordfreq
textstat
numpy
wandb
rake-nltk
scikit-learn
python-Levenshtein
colorama
